$base-color: #a77a23;
$base-gradient: matte;
$font-family: "Chalkboard", "ChalkboardSE-Regular", "Comic Sans MS", cursive;
$page-bg-color: #eed8ae;
$list-bg-color: #eed8ae;
$form-field-label-bg-color: lighten($page-bg-color,10%);
$form-field-label-color: rgba(91,26,1,1);
$form-fieldset-radius: 0;
$form-bg-color: $page-bg-color;
$panel-border-radius: 0;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* <div class='itemWrapper'>
<div class='itemImageWrapper'>
<img class='itemImage' src='{image}' />
</div>
<span class='itemName'>{name}</span>
</div>'
*/

.itemWrapper {
    border: 1px #000 solid;
    margin: 3px;
    background-color: #8E4100;
    @include box-shadow(3px 2px 5px 0px rgba(0,0,0,0.75) inset);
    padding: 5px;
    width: 150px;
    height: 190px;
    position:relative;

    .itemImageWrapper {
        display: block;
        width: 140px;
        height: 130px;
        background-size: 100% 100%;
    }

    .itemName {
        position: absolute;
        top: 132px;
        display: block;
        width: 140px;
        text-align: center;
        color: #fff;
        text-shadow: rgba(95, 44, 0, 1) -0.12em -0.12em 0;
    }

    .itemCount {
        position: absolute;
        top: 156px;
        display: block;
        width: 140px;
        text-align: center;
        color: #D0B00A;
        text-shadow: #5f2c00 -0.12em -0.12em 0;
    }

    .itemDelete {
        width: 36px;
        height: 30px;

        color: #fff;
        background-color: rgb(118, 77, 0);
        border-color: rgb(155, 102, 0);
    }
}

/*
<div class="orderItemWrapper">
<div class='orderItemImage' style='background-image: url(resources/images/{image});' />
<div class='orderItemName'>
<span>{name}</span>
</div>
</div>
*/

.orderItemWrapper {
    height: 50px;
    width: 100%;

    .orderItemImage {
        width: 50px;
        height: 50px;

        border: 2px solid #8D6B28;
        @include box-shadow(3px 2px 5px 0px rgba(0,0,0,0.75) inset);
        background-size: 100% 100%;
    }


    .orderItemLabel {
        color: #664300;
        padding-left: 6px;
    }

    .orderItemButtons1 {
        width: 84px;
        padding: 0px 2px;
    }

    .orderItemButtons2 {
        width: 56px;
        padding-left: 20px;
    }

    .orderItemDecrease,.orderItemIncrease,.orderItemDelete {
        width: 36px;
        height: 36px;

        color: #fff;
        visibility: hidden;
    }

    .orderItemDecrease,.orderItemIncrease {
        background-color: rgb(118, 77, 0);
        border-color: rgb(155, 102, 0);
    }
    
    .orderItemDelete {
        background-color: rgb(187, 57, 0);
        border-color: rgb(155, 102, 0);
    }
}

.x-list-item.x-item-selected {
    .orderItemLabel {
        color: #ffffff;
    }
    
    .orderItemDelete,.orderItemDecrease,.orderItemIncrease {
        visibility: visible
    }
}
/* ui mixin: loginbutton for of type: sencha-button-ui */
$_arch_color: rgba(214,157,45,1);
@include sencha-button-ui(
  $ui-label:"loginbutton",
    $color: $_arch_color,
    $gradient: $button-gradient
);